:global {
  body[data-theme='dark'] {
    --invoiceFormAddBtnBGColor: rgb(25 30 52);
    --invoiceCancelBtnBG: #252945;
    --invoiceCancelBtnBGHover: #dfe3fa;
    --invoiceCancelBtnText: #ffffff;
    --invoiceSaveDraftBtnText: #dfe3fa;
    --invoiceSaveDraftBtnHover: #1e2139;
  }
  body[data-theme='light'] {
    --invoiceFormAddBtnBGColor: rgba(223,227,250, 0.3);
    --invoiceCancelBtnBG: rgba(223,227,250, 0.3);
    --invoiceCancelBtnBGHover: #dfe3fa;
    --invoiceCancelBtnText: #7e88c3;
    --invoiceSaveDraftBtnText: #888eb0;
    --invoiceSaveDraftBtnHover: #0c0e16;
  }
}

.invoiceForm {
  position: relative;
  @include tablet_display {
    max-width: 504px;
  }
  @include tablet_display {
    min-width: 515px;
  }
  @include pc_display {
    margin-right: 56px;
    min-width: 0;
  }
  &__senderBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 23px;
    grid-row-gap: 25px;
    @include tablet_display {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__receiverBlock{
    margin-top: 41px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 23px;
    grid-row-gap: 25px;
    @include tablet_display {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__invoiceDateAndTermsBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 23px;
    grid-row-gap: 25px;
    grid-column: 1/3;
    @include tablet_display {
      grid-column: 1/4;
    }
  }
  &__invoiceDateBlock {
    grid-column: 1/3;
    @include tablet_display {
      grid-column: 1/2;
    }
  }
  &__invoiceSelectDateBlock {
    grid-column: 1/3;
    @include tablet_display {
      grid-column: 2/3;
    }
  }
  &__labelProjectDescription {
    grid-column: 1/3;
    @include tablet_display {
      grid-column: 1/4;
    }
  }
  &__sectionHeading {
    grid-column: 1 / 3;
    @include headingSVariant;
    color: #7c5dfa;
    @include tablet_display {
      grid-column: 1 / 4;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
  }
  &__labelStrretAdr {
    grid-column: 1/3;
    @include tablet_display {
      grid-column: 1 / 4;
    }
  }
  &__labelCity {
    grid-column: 1/2;
    @include tablet_display {
      grid-column: 1/2;
    }
  }
  &__labelpostCode {
    grid-column: 2/3;
    @include tablet_display {
      grid-column: 2/3;
    }
  }
  &__labelCountry {
    grid-column: 1/3;
    @include tablet_display {
      grid-column: 3/4;
    }
  }
  &__labelclientName {
    grid-column: 1/3;
    @include tablet_display {
      grid-column: 1/4;
    }
  }
  &__labelclientMail {
    grid-column: 1/3;
    @include tablet_display {
      grid-column: 1/4;
    }
  }
  &__labelclientStreet {
    grid-column: 1/3;
    @include tablet_display {
      grid-column: 1/4;
    }
  }
  &__labelclientCity {
    grid-column: 1/2;
    @include tablet_display {
      grid-column: 1/2;
    }
  }
  &__labelClientPostCode {
    grid-column: 2/3;
    @include tablet_display {
      grid-column: 2/3;
    }
  }
  &__labelClientCountry {
    grid-column: 1/3;
    @include tablet_display {
      grid-column: 3/4;
    }
  }
  &__itemsBlock {
    margin-top: 69px;
  }
  &__itemsBlockHeading {
    font-family: $font;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: -0.38px;
    color: #777f98
  }
  &__itemsBlockItems {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__itemsBlockItemsFields {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 25px;
    @include tablet_display {
      grid-template-columns: repeat(6, 1fr);
    }
    &:not(:last-child) {
      margin-bottom: 49px;
      @include tablet_display {
        margin-bottom: 16px;
      }
    }
  }
  &__itemsBlockItemsName {
    grid-column: 1/5;
    @include tablet_display {
      grid-column: 1/3;
    }
  }
  &__itemsBlockItemsQTY {
    grid-column: 1/2;
    @include tablet_display {
      grid-column: 3/4;
    }
  }
  &__itemsBlockItemsPrice {
    grid-column: 2/3;
    @include tablet_display {
      grid-column: 4/6;
    }
  }
  &__itemsBlockItemsTotal {
    grid-column: 3/4;
    @include tablet_display {
      grid-column: 6/7;
    }
  }
  &__itemsBlockItemsDelBtn {
    height: 50%;
    grid-column: 4/5;
    align-self: end;
    justify-self: center;
    @include tablet_display {
      grid-column: 7/8;
    }
  }
  &__itemsBlockItemsAddBtn {
    @include headingSVariant;
    width: 327px;
    height: 48px;
    border-radius: 24px;
    background-color: var(--invoiceFormAddBtnBGColor);
    color: #7e88c3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
    @include tablet_display {
      width: 100%;
    }
    &:hover {
      background-color: rgba(223,227,250, 1);
    }
  }
  &__buttonsBar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    margin-top: 88px;
    min-height: 91px;
  }
  &__btnCanceChanges {
    width: 96px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--invoiceCancelBtnBG);
    color: var(--invoiceCancelBtnText);
    cursor: pointer;
    margin-right: 8px;
    transition: background-color .3s;
    &:hover {
      background-color: var(--invoiceCancelBtnBGHover);
    }
  }
  &__btnSaveChanges {
    @include headingSVariant;
    width: 138px;
    cursor: pointer;
    height: 48px;
    border-radius: 24px;
    background-color: #7c5dfa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: background-color .3s;
    &:hover {
      background-color: #9277ff;
    }
  }
  &__btnCancelNewInvoice {
    width: 96px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--invoiceCancelBtnBG);
    color: var(--invoiceCancelBtnText);
    cursor: pointer;
    margin-right: 8px;
    @include tablet_display {
      margin-right: auto;
    }
    transition: background-color .3s;
    &:hover {
      background-color: var(--invoiceCancelBtnBGHover);
    }
  }

  &__btnSaveDraft {
    @include headingSVariant;
    width: 117px;
    height: 48px;
    @include tablet_display {
      width: 133px;
    }
    cursor: pointer;
    border-radius: 24px;
    background-color: #373b53;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    color: var(--invoiceSaveDraftBtnText);
    transition: background-color .3s;
    &:hover {
      background-color: var(--invoiceSaveDraftBtnHover);
    }
  }
  &__btnNewInvoiceSave {
    @include headingSVariant;
    width: 112px;
    @include tablet_display {
      width: 128px
    }
    height: 48px;
    cursor: pointer;
    border-radius: 24px;
    background-color: #7c5dfa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: background-color .3s;
    &:hover {
      background-color: #9277ff;
    }
  }
  &__errorBlock {
    @include headingSVariant;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.21px;
    color: #ec5757;
    position: absolute;
    bottom: 121px;
    left: 0;
  }
}
