:global {
  body[data-theme='dark'] {
    --invoiceMakePaidBtnBGHover: #ffffff;
  }
  body[data-theme='light'] {
    --invoiceMakePaidBtnBGHover: #9277ff;
  }
}

.invoiceMakePaidBtn {
  @include headingSVariant;
  width: 149px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #7c5dfa;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #9277ff;
  }
}

.disabled {
  background-color: #f8f8fb;
  color: $deepBlack;
  &:hover {
    background-color: #f8f8fb;
    cursor: not-allowed;
  }
}
