.invoiceFormItemDelBtn {
  background-image: url("../../assets/icon-delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}
